.my-orders-button {
  /* background-color: aqua; */
  padding: 10px;
  text-align: right;
  margin-top: 5px;
  float: left;
  display: flex;
  justify-content: flex-end;
}


.my-orders-buttons{
    float: right;
}